@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    background-color: #FFFFFF;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    background-color: #FF7613;
}

.groups {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
}

.inputGroupOne {
    width: 100%;
    position: relative;
}

.inputGroupOne input {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 15px 20px;
    outline: none;
    border: 3px solid #D15800;
    background-color:
        #FF7613;
    border-radius: 20px;
    width: 95%;
    margin-top: 40px;
}

.inputGroupOne label {
    font-size: 16px;
    position: absolute;
    left: 0;
    padding-top: 3.6em;
    padding-left: 0.9em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgba(0, 0, 0, 0.6);
}

.inputGroupOne :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(1);
    margin: 2.5em;
    margin-left: 1.2em;
    padding: 0.3em;
    background-color: #FF7613;
}

.inputGroupOne :is(input:focus, input:valid) {
    border-color: #934f1f;
}

#buttonLogin {
    margin: 20px;
    border: none;
    background-color: #FFFFFF;
    width: 150px;
    height: 45px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
}

canvas {
    display: block;
    transform: rotate(90deg);
    position: absolute;
    right: 27%;
}

#myCanvas2 {
    display: block;
    transform: rotate(90deg);
    position: absolute;
    right: 25%;
    top: 29%;
}