.formulario {
    height: 70%;
    width: 90%;
    border-top: 2px solid #dfdfdf;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.campos {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    width: 90%;
}

.campo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.titulo {
     display: flex;
     align-items: center;
     font-size: 10pt;
}

.obrigatorio {
    color: #f00;
}

.campo>input {
    border-radius: 3px;
    border: 1px solid #cfcfcf;
    padding-left: 10px;
    height: 22px;
    width: 320px;
    font-size: 10pt;
    outline: none;
}

.select {
    display: flex;
    align-items: flex-end;
    height: 47px;
    width: 150px;
    gap: 5px;
    font-size: 10pt;
}

.if {
    font-size: 10pt;
    border: 2px solid #cfcfcf;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 24px;
    border-radius: 3px;
    color: #606060;
}

.if>img {
    width: 25px;
}

.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.center>button {
    border: 2px solid #cfcfcf;
    border-radius: 3px;
    width: 26px;
    height: 26px;
    background-color: #fff;
}

.filiais {
    border-radius: 3px;
    border-bottom: 2px solid #cfcfcf;
    min-height: 28px;
    font-size: 10pt;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-width: 100px;
    flex-wrap: wrap;
    gap: 10px;
}

.filial {
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #f00;
    border-radius: 2px;
    padding: 0px 0px 0px 5px;
}

.filial>button {
    background: none;
    border: none;
    cursor: pointer;
}

.filial>button>img {
    height: 10px;
}

.model-filial {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: absolute;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    font-size: 10pt;
    box-shadow: 0px 1px 8px 1px #00000037;
}