<po-page-default p-title="Inventário">

  <div class="po-row confirm">
    <po-dynamic-form
    class="po-xl-8"
    #dynamicForm
    p-auto-focus="name"
    [p-fields]="fields"
    [p-value]="person"
    [p-validate-fields]="validateFields"
    >
    </po-dynamic-form>

    <po-button
      class="buttonConfirm"
      p-label="Buscar"
      [p-disabled]="!form.form.valid"
      (p-click)="onClick()"
    >
    </po-button>
  </div>

  <div class="send">
    <po-button
      class="po-md-3"
      p-icon="po-icon-archive"
      [p-disabled]="disableSendInventory"
      p-label="Realizar Inventário"
      (p-click)="sendInventory()">
    </po-button>
  </div>

  <po-table
    #productsTable
    [p-auto-collapse]="true"
    [p-columns]="columns"
    [p-hide-columns-manager]="true"
    [p-hide-table-search]="true"
    [p-items]="items"
    [p-sort]="true"
    [p-striped]="true"
    [p-selectable]="true"
    p-selectable-entire-line="false"
    [p-hide-select-all]="true"
    (p-selected)="toggleDisable()"
    (p-unselected)="toggleDisable()">

    <ng-template p-table-cell-template let-column="balance" let-row="row">
      <po-number
        class="po-lg-6"
        [p-min]="row.defaultBalance"
        p-clean="false"
        [(ngModel)]="row.balance"
        [ngModelOptions]="{standalone: true}">
      </po-number>
    </ng-template>

  </po-table>

</po-page-default>

<div>
  <po-loading-overlay [hidden]="isHideLoading"></po-loading-overlay>
</div>

<po-modal
  #modal
  p-click-out="true"
  p-size="sm"
  p-title="{{ modalTitle }}">
</po-modal>
