.Eventos {
    height: 70%;
    width: 90%;
    border-top: 2px solid #dfdfdf;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    flex-wrap: wrap;
}