<div class="fundo-login">
    <div class="info-login">
        <div class="header-info">
            <img src="../assets/logo_tv 1.png" alt="logo_TV">
            <span>Plantamos uma vida melhor!</span>
        </div>
        <div class="main-info">
            <span class="main-info-titulo">Seja bem-vindo!</span>
            <span>Alguma descrição sobre a terra viva, como trabalha, cuida das plantas e preserva a natureza. Pode adicionar mais informações para tornar algo interessante de ler.</span>
        </div>
        <div class="footer-info">
            <img src="../assets/tuia.png" alt="tuia_TV">
            <span>Tuia Holandesa - Terra Viva</span>
        </div>
    </div>
    <div class="login-rigth">
        <app-login></app-login>
    </div>
</div>