.container-login {
  background-color: #ffffff;
  height: 500px;
  width: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header-login {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 12pt;
  font-weight: 600;
}

.form-login {
  height: 70%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.input-group {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  border: solid 2px #b6b6b6;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  color: #000;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-label {
  position: absolute;
  left: 15px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
  outline: none;
  border: 2px solid #52b032;
}

.input:focus ~ label,
input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: #ffffff;
  padding: 0 0.2em;
  color: #52b032;
}

.message-login {
  height: 20px;
  font-size: 11pt;
  color: red;
  letter-spacing: 2px;
}

.form-login > button {
  background-color: #52b032;
  border-radius: 15px;
  border: none;
  width: 140px;
  height: 50px;
  color: #ffffff;
  font-size: 12pt;
  font-weight: 800;
  letter-spacing: 3px;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: -2px 4px 14px 0.1px #00000060;
}

.form-login > button:hover {
  transform: scale(1.01);
  background-color: #3b7e24;
}
